<section id="content" [ngClass]="{'contentAr':!langService.IsEnglish}">
  <div class="page page-dashboard">
    <div class="pageheader">
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i> ERPSystem</a>
          </li>
          <li>
            <a href="#">{{'manage_groups'|translate}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="card-container col-lg-12 col-sm-12 ">
        <section class="tile">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font">
              <strong>{{'manage_groups'|translate}} </strong>
            </h1>

          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body p-0">


            <p-dataTable [value]="Groups" [immutable]="false" selectionMode="single" [rows]="10" [(selection)]="selectedGroup"
              [paginator]="true" [reorderableColumns]="true" dataKey="Id">
              <p-column header="" [style]="{'width': '40px' ,'text-align':'center'}">
                <ng-template let-index="rowIndex" pTemplate="body">
                  {{index+1}}
                </ng-template>
              </p-column>
              <p-column field="Name" header="{{'name'|translate}}" [filter]="true" filterMatchMode="contains" [sortable]="true"></p-column>
              <p-column field="Description" header="{{'description'|translate}}" [filter]="true" filterMatchMode="contains" [sortable]="true"></p-column>

              <p-column header="" [style]="{'text-align':'center'}">
                <ng-template let-group="rowData" pTemplate="body">
                  <div class="btn-group ">
                    <button type="button" [authGuard] actionType="edit" [disabled]="group.IsAdminGroup" (click)="OnEditGroup(group)" class="btn btn-primary">
                      <i class="fa fa-edit"></i> {{'edit'|translate}}</button>
                    <button type="button" [authGuard] actionType="delete" [disabled]="!group.CanDelete || group.IsDefault" (click)="onDeleteGroup(group)" class="btn btn-danger">
                      <i class="fa fa-remove"></i> {{'delete'|translate}}</button>
                  </div>

                </ng-template>
              </p-column>

              <p-footer>
                <div class="ui-helper-clearfix" style="width:100%">
                  <button type="button" (click)="ShowAddGroupDialog()" class="btn btn-primary pull-right" [authGuard] actionType="add">{{'add_group'|translate}}</button>
                </div>
              </p-footer>

            </p-dataTable>

            <p-confirmDialog header="{{'delete_confirmation'|translate}}" message="{{'confirmation_message'|translate}}" rejectLabel="{{'no'|translate}}" acceptLabel="{{'yes'|translate}}" icon="fa fa-question-circle" width="425"></p-confirmDialog>

          </div>

          <group-editor *ngIf="DisplayGroupEditor" (OnAddOrUpdateGroup)="OnGroupAddOrUpdate($event)" (OnCloseDialog)="DisplayGroupEditor=$event"
            [Group]="selectedGroup"></group-editor>

        </section>
      </div>
    </div>
  </div>
</section>
