<section id="content" [ngClass]="{'contentAr':!langService.IsEnglish}">
    <div class="page page-dashboard">
        <div class="pageheader">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="#"><i class="fa fa-home"></i> ERPSystem</a>
                    </li>
                    <li>
                        <a href="#">{{'accounting_section'|translate}}</a>
                    </li>
                    <li>
                      <a href="#">{{'accounting_cost_centers'|translate}}</a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
           
              <div class="panel-body">
        
        
        <div class="row">
  
                  <div class="form-group">
                      <div class="col-md-2">
                            Subsidiary Name
                      </div>
                      <div class="col-md-4">
                          <input type="text" pInputText class="form-control" ref-SubsidiaryName="ngModel" name="SubsidiaryName" [(ngModel)]="newObject.SubsidiaryName" required/>
                          <span class="text-danger" *ngIf="SubsidiaryName?.errors?.required && SubsidiaryName?.touched">Subsidiary Name Required</span>
                      </div>
                  </div>
      </div>    
    

                    <!-- Table -->                
                          <div class="row">
                                  <p-dataTable #dt [value]="list" exportFilename="SubsidiaryJournal" selectionMode="single" [(selection)]="selectedSubsidiaryJournal" 
                                      [reorderableColumns]="true" columnResizeMode="fit" [resizableColumns]="true" [metaKeySelection]="false" emptyMessage="No Subsidiary Journal are found" [contextMenu]="cm" (onRowDblclick)="OnEditSubsidiaryJournalTable($event)">
                                      <p-header>
                                          <div class="ui-helper-clearfix">
                                              <button type="button" pButton icon="fa-table" iconPos="left" label="Export" (click)="dt.exportCSV()" style="float: left"></button>
                                          </div>
                                      </p-header>
                                      <p-column header="" [style]="{'width': '40px' ,'text-align':'center'}">
                                          <ng-template let-user="rowData" let-i="rowIndex" pTemplate="body">
                                              {{i+1}}
                                          </ng-template>
                                      </p-column>
                                      <p-column field="SubsidiaryName" header="SubsidiaryName" [filter]="true" filterMatchMode="contains" [sortable]="true"></p-column>
                                     
                                     
                                      <p-column header="Edit" [style]="{'text-align':'center'}">
                                              <ng-template let-SubsidiaryJournal="rowData" pTemplate="body">
                                                <div class="btn-group ">
                                                 <button type="button"  (click)="onDeleteSubsidiaryJournal(SubsidiaryJournal)" class="btn btn-danger">
                                                    <i class="fa fa-remove"></i> Delete</button>
                                                </div>
                              
                                              </ng-template>
                                            </p-column>
                              
                          
                                  </p-dataTable>
                                  <p-contextMenu #cm [model]="items"></p-contextMenu>
  
  
                                </div>
                                 
                                       <button type="button" *ngIf="!editMode" pButton icon="fa-add" iconPos="left" label="Save" (click)="Save()" style="float: left;"class="ui-helper-clearfix"></button>
                                       <button pButton type="button" *ngIf="editMode"  icon="fa-add" iconPos="left" label="Edit" (click)="update()" style="float:left;" class="ui-button-success"></button>
                               
  
  
                              </div>
                          </div>
  
    </div>
  
  </section>
  
  