<div id="wrap">
  <div class="page page-core page-login">

    <div class="text-center">
      <h3 class="text-light text-white">
        <span class="text-lightred">ERP</span>System</h3>
    </div>
    <fieldset [disabled]="InProgress">


      <div class="container w-420 p-15 bg-white mt-40 text-center">


        <h2 class="text-light text-greensea">{{"reset_password_title"|translate}}</h2>


        <form [formGroup]="ResetForm" class="form-validation mt-20" novalidate="">

          <div class="form-group">
            <input class="form-control" type="password" placeholder="{{'reset_password_newpassword'|translate}}" formControlName="NewPassword">
            <span  *ngIf="!NewPassword?.valid && !ConfirmNewPassword?.pristine" class="text-danger">{{'reset_password_required_password_error'|translate}}</span>
          </div>

          <div class="form-group">
            <input class="form-control" type="password" placeholder="{{'reset_password_confirm_newpassword'|translate}}" formControlName="ConfirmNewPassword">
            <span  *ngIf="!ConfirmNewPassword?.valid && !ConfirmNewPassword?.pristine" class="text-danger">{{'reset_password_confirm_error'|translate}}</span><br/>
            <span class="text-danger" *ngIf="!IsConfirmedPasswordMatch">{{'reset_password_confirm_password_match_error'|translate}}</span>
          </div>

          <div class="form-group">
            <button type="button" (click)="ResetPassword()" [disabled]="!IsConfirmedPasswordMatch || !ResetForm?.valid || ResetForm?.pristine || InProgress" class="btn btn-primary">{{'reset_password_reset_btn'|translate}} <i *ngIf="InProgress" class="fa fa-spin fa-spinner"></i></button>
          </div>

        </form>
        <hr class="b-3x">






      </div>



    </fieldset>
  </div>



</div>
