<section id="content" [ngClass]="{'contentAr':!langService.IsEnglish}">
  <div class="page page-dashboard">
      <div class="pageheader">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <a href="#"><i class="fa fa-home"></i> ERPSystem</a>
                  </li>
                  <li>
                      <a href="#">{{'accounting_section'|translate}}</a>
                  </li>
                  <li>
                    <a href="#">{{'accounting_account_tree_permissions'|translate}}</a>
                </li>
              </ul>
          </div>
      </div>
      <!-- cards row -->
      <div class="row">
      </div>

  </div>

</section>

