
<section id="content" [ngClass]="{'contentAr':!langService.IsEnglish}">
    <div class="page page-dashboard">
        <div class="pageheader">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="#"><i class="fa fa-home"></i> ERPSystem</a>
                    </li>
                    <li>
                        <a href="#">{{'dashboard_title'|translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- cards row -->
        <div class="row">
            <!-- col -->
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card">
                    <div class="front bg-greensea">
                        <!-- row -->
                        <div class="row">
                            <!-- col -->
                            <div class="col-xs-4">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-8">
                                <p class="text-elg text-strong mb-0">3 659</p>
                                <span>New Users</span>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                    <div class="back bg-greensea">
                        <!-- row -->
                        <div class="row">
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-cog fa-2x"></i> Settings</a>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card">
                    <div class="front bg-lightred">
                        <!-- row -->
                        <div class="row">
                            <!-- col -->
                            <div class="col-xs-4">
                                <i class="fa fa-shopping-cart fa-4x"></i>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-8">
                                <p class="text-elg text-strong mb-0">19 364</p>
                                <span>New Orders</span>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                    <div class="back bg-lightred">
                        <!-- row -->
                        <div class="row">
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-cog fa-2x"></i> Settings</a>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card">
                    <div class="front bg-blue">
                        <!-- row -->
                        <div class="row">
                            <!-- col -->
                            <div class="col-xs-4">
                                <i class="fa fa-usd fa-4x"></i>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-8">
                                <p class="text-elg text-strong mb-0">165 984</p>
                                <span>Sales</span>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                    <div class="back bg-blue">
                        <!-- row -->
                        <div class="row">
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-cog fa-2x"></i> Settings</a>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card">
                    <div class="front bg-slategray">
                        <!-- row -->
                        <div class="row">
                            <!-- col -->
                            <div class="col-xs-4">
                                <i class="fa fa-eye fa-4x"></i>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-8">
                                <p class="text-elg text-strong mb-0">29 651</p>
                                <span>Visits</span>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                    <div class="back bg-slategray">
                        <!-- row -->
                        <div class="row">
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-cog fa-2x"></i> Settings</a>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-4">
                                <a href=#><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row">

            <!-- col -->
            <div class="col-md-12">
                <!-- tile -->
                <section class="tile">

                    <!-- tile body -->
                    <div class="tile-body">
                        <!-- row -->
                        <div class="row">

                            <!-- col -->
                            <div class="col-sm-12">
                                <h4 class="underline custom-font mb-20"><strong>Actual</strong> Statistics</h4>
                                <!-- row -->
                                <div class="row">
                                    <!-- col -->
                                    <div class="col-lg-4 text-center">
                                        <div class="easypiechart"
                                             data-percent="100"
                                             data-size="140"
                                             data-bar-color="#418bca"
                                             data-scale-color="false"
                                             data-line-cap="round"
                                             data-line-width="4"
                                             style="width: 140px; height: 140px;">
                                            <i class="fa fa-usd fa-4x text-blue" style="line-height: 140px;"></i>
                                        </div>
                                        <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-blue">6,175</strong> <small class="text-lg text-light text-default lt">Sales</small></p>
                                        <p class="text-light"><i class="fa fa-caret-up text-success"></i> 18% this month</p>
                                    </div>
                                    <!-- /col
                                    <!-- col -->
                                    <div class="col-lg-4 text-center">
                                        <div class="easypiechart"
                                             data-percent="75"
                                             data-size="140"
                                             data-bar-color="#e05d6f"
                                             data-scale-color="false"
                                             data-line-cap="round"
                                             data-line-width="4"
                                             style="width: 140px; height: 140px;">
                                            <i class="fa fa-eye fa-4x text-lightred" style="line-height: 140px;"></i>
                                            <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-lightred">8,213</strong> <small class="text-lg text-light text-default lt">Visits</small></p>
                                            <p class="text-light"><i class="fa fa-caret-down text-warning"></i> 25% this month</p>
                                        </div>
                                    </div>
                                    <!-- /col -->
                                    <!-- col -->
                                    <div class="col-lg-4 text-center">
                                        <div class="easypiechart"
                                             data-percent="46"
                                             data-size="140"
                                             data-bar-color="#16a085"
                                             data-scale-color="false"
                                             data-line-cap="round"
                                             data-line-width="4"
                                             style="width: 140px; height: 140px;">
                                            <i class="fa fa-user fa-4x text-greensea" style="line-height: 140px;"></i>
                                            <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-greensea">632</strong> <small class="text-lg text-light text-default lt">Users</small></p>
                                            <p class="text-light"><i class="fa fa-caret-down text-danger"></i> 61% this month</p>
                                        </div>
                                    </div>
                                    <!-- /col -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /col -->
                            <!-- col -->


                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /tile body -->
                </section>
                <!-- /tile -->
            </div>
            <!-- /col -->
            <!-- col -->

            <!-- /col -->

        </div>

    </div>

</section>

